<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" language="JavaScript" src="/public/js/scripts.js"></script>
    <script type="text/javascript" language="javascript" src="/public/js/jquery1_3_2.js"></script>
    <script type="text/javascript" language="javascript" src="/public/js/jquery1_3_2.min.js"></script>
</head>
<body>
    <label>场地日期</label>
    <input id="court_date" type="date" >
    <button onclick="book_conclude()">预约结算</button>
</body>
</html>